<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
　<title>グラフ</title> 
</head>

<body>
  <h3>折れ線グラフ</h3>
  <canvas id="myLineChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
  var ctx = document.getElementById("myLineChart");
  var myLineChart = new Chart(ctx, {
    // グラフタイプを設定する項目
    type: 'line', 

    // データをセットする項目
    data: {
      labels: ['6日前', '５日前', '４日前', '３日前', '２日前', '１日前', '今日'],
      datasets: [
        {
          label: '投稿した本の数',
          data:
          [<%= @deys6_ago_book.count %>,　
          <%= @deys5_ago_book.count %> ,
          <%= @deys4_ago_book.count %>,
          <%= @deys3_ago_book.count %>,
          <%= @deys2_ago_book.count %>,
          <%=@yesterday_book.count %>,
          <%=@today_book.count %>
          ],
          borderColor: "rgba(50,255,0,1",
          backgroundColor: "rgba(0,0,0,0)"
        },
      ],
    },

    // グラフのオプションをつける設定
    options: {
      title: {
        display: true,
        text: '７日間の本の投稿数'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 10,
            suggestedMin: 0,
            stepSize: 1,
            callback: function(value, index, values){
              return  value
            }
          }
        }]
      },
    }
  });
  </script>
  
  
        <table>
          <canvas id="myLineChart"></canvas>
          <script>
            $(document).on('turbolinks:load', function() {
              var ctx = document.getElementById("myLineChart");
              var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
                  datasets: [
                    {
                      label: '投稿した本の数',
                      data: [
                        <%= @deys6_ago_book.count %>,
                        <%= @deys5_ago_book.count %>,
                        <%= @deys4_ago_book.count %>,
                        <%= @deys3_ago_book.count %>,
                        <%= @deys2_ago_book.count %>,
                        <%= @yesterday_book.count %>,
                        <%= @today_book.count%>
                        ],
                      borderColor: "rgba(0,0,255,1)",
                      backgroundColor: "rgba(0,0,0,0)",
                      tension: 0.4
                    }
                  ],
                },
                options: {
                  title: {
                    display: true,
                    text: '7日間の投稿数の比較'
                  },
                  responsive: true,
                  scales: {
                    y:{
                      suggestedMin: 0,
                      suggestedMax: 10
                    },
                    x:{
                      stacked: true
                    },
                  },
                }
              });
            });
          </script>
        </table>
</body>

</html>